<ion-content padding>

  <!-- results listing - start -->
  <ion-grid>
    <ion-row justify-content-around>
      <ion-col col-sm-6 col-md-6 col-lg-4 col-xl-3  align-self-center>  
        <ion-list class="languages" *ngIf="defaultConfig">
          <button ion-item *ngFor="let language of defaultConfig.availableLanguages" (click)="setLanguage(language)">
                  <ion-avatar item-start>
              <img src="assets/images/flags/{{ language.code }}.png">
            </ion-avatar>
            {{ language.name }}
          </button>  
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>    
  <!-- results listing - end -->

</ion-content>

